# Application Configuration
APP_NAME=application

# API Configuration
PUBLIC_API_HOST=localhost
PUBLIC_API_PORT=8080

# PostgreSQL Database Configuration
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASS=1234
PG_DB=platform
PG_MAX_CONN=20
POSTGRES_DSN=postgres://user:pass@host:port/dbname
JWT_SECRET=Q8vYt4PzR2mK7xNcA5sFdL9hJ1wXeB6qUiOoMnV3gTyH8kLpZcEr5uAsD2nF7iGw